@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.App {
  text-align: center;
}
.signup_button{
  display: flex;
  width: 13vh;
  height: 5vh;
  margin: 20px;
  background-color: orange;
  padding-top: 12px;
  justify-content: center;

}
.login_button {
  display: flex;
  width: 13vh;
  height: 5vh;
  margin: 20px;
  background-color: orange;
  padding-top: 12px;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  font-size: 6vh;
  font-family: 'Righteous', cursive;
  animation: popout 1s ease;
  -webkit-animation: popout 1s ease;
}
@keyframes popout {
  from{transform:scale(0)}
  80%{transform:scale(1.2)}
  to{transform:scale(1)}
}
@-webkit-keyframes popout {
  from{-webkit-transform:scale(0)}
  80%{-webkit-transform:scale(1.2)}
  to{-webkit-transform:scale(1)}
}

.greeting {
  letter-spacing: 1px;
  font-size: 4vh;
  font-family: 'Righteous', cursive;
  animation: popout 1s ease;

}