.dashboard {
    background-image: url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Ftrulia%2Ffiles%2F2014%2F11%2Fhow-tell-love-new-neighborhood.jpg");
    background-size: cover;
    padding: 10px;
}
.dashboard h1, h3 {
    color: black;
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: 0.8;
    margin: 2vh 2vw 1vh 2vw;
    padding: 10px;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    animation: popout 1s ease;
    -webkit-animation: popout 3s ease;
    border-radius: 14px;
    box-shadow: 14px 9px 16px rgb(74, 45, 45);
}
.people-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh 2vw 1vh 2vw;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 14px 9px 16px rgb(74, 45, 45);
}
.users-image{
    width: 100%;
    max-width: 10pc; 
    height: auto;
    border-radius: 35%;
    opacity: 1;
}
.button {
    font-size: 23px;
    font-weight: bold;
    background-color: green;
    opacity: 0.9;
    margin: 2vh 2vw 1vh 2vw;
    padding: 12px;
    border-radius: 20vh;
    margin-top: 6px;
}
a:visited{
    color: black;
}
a:link{
    text-decoration: none;
}
.button:hover {
    background-color: red;
}
.people-list:hover {
    color: yellow;
}
/* Media query for small screens */
@media (max-width: 600px) {
    .dashboard h1, .dashboard h3, .people-list, .button {
        margin: 2vh 2vw 1vh 2vw; /* Adjust margin for small screens */
    }
}