.login {
    justify-content: center;
    margin: auto;
    width: 20vh;
    padding: 10px;
    background-image: linear-gradient(to right top, #48869b, #40b7b9, #28a57f, #6cda78);
    padding: 2vh 10vh 6vh 10vh;
}
.login-form {
    color: rgb(16, 14, 14);
    font-weight: bold;
    font-size: 18px;
}
.form input{
    height: 3vh;
    width: 18vh;
}
.form label {
    display: flex;
    padding-top: 10px;
}