.update-profile label{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 24px;
}
.update-profile input {
    margin: 13px;
    padding-right: 30vh;
    padding-bottom: 10px;
    font-size: 13px;
}
.submit input{
    background-color: peru;
    font-size: 20px;
    padding-right: 2vh;
    align-self: center;
}